:root{
    --main-color: #eeeeee;
    --black: #171F40;
    --blue: #0C2180;
    --red: #DA1212;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Philosopher', sans-serif;
    font-family: 'Big Shoulders Stencil Text', sans-serif;
}

h1 {
    color: #171F40;
    padding: 30px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.report-container {
    margin: 20px;
    margin-top: 5px;
}

.report-item span{
    color: var(--black);
}

.report-item {
    font-family: 'Montserrat', sans-serif;
    color: var(--black);
    display: flex;
    justify-content: space-between;
    border: 1px solid #ddd;
    padding: 5px;
    margin-bottom: 3px;
    align-items: center;
    border-radius: 5px;
    box-shadow: black;
    margin-left: 20px;
    margin-right: 20px;
}

.back-button {
    color: black;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 5px;
    font-size: 14px;
}

.accepted-button {
    color: black;
    background-color: #4CAF50;
    border: none;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 1px;
    cursor: pointer;
    border-radius: 15px;
}

.accepted-button:hover{
    background-color: rgb(17,70,143, 0.25);

}

.progress-button {
    color: black;
    background-color: #f7e463;
    border: none;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 1px;
    cursor: pointer;
    border-radius: 15px;
}

.progress-button:hover{
    background-color: rgb(17,70,143, 0.25);

}

.declined-button {
    color: black;
    background-color: #eb6060;
    border: none;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 1px;
    cursor: pointer;
    border-radius: 15px;
}

.declined-button:hover{
    background-color: rgb(17,70,143, 0.25);

}