@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
    --main-color: #eeeeee;
    --black: #171F40;
    --blue: #0C2180;
    --red: #DA1212;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Philosopher', sans-serif;
    font-family: 'Big Shoulders Stencil Text', sans-serif;
}

.top,
.left,
.right,
.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif
}

.arrow-back {
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.back-button {
    color: black;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 5px;
    font-size: 14px;
}
.arrow {
    width: 15px;
    height: auto;
}

.reportId .report_Id,
.divide .divider,
.verif_status .verif  {
    gap: 20px;
    font-family: 'Poppins', sans-serif;
    color: var(--black);
}

.reportId .report_Id,
.verif_status .verif  {
   margin: 20px;
}

.verif_status .verif{
    font-weight: 500;
    color: #2553d1;
}

/* 
.reportId,
.divide {
    margin-right: 4px;
} */

.line {
    position: absolute;
    height: 1px;
    width: 100%;
    background: black;
}

.box {
    width: 80%;
    height: 35%;
    align-items: center;
    border-radius: 10px;
    background-color: #b2bbe3;
    box-shadow: 2px 2px 10px rgba(12, 33, 128, 0.5);
    padding: 20px;
    margin-left: 150px;
    margin-top: 20px;
}

.container {
    z-index: 1;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-width: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
    padding-top: 50px;
    gap: 35px;
    width: 100%;
    font-family: 'Poppins', sans-serif;

}

.container .steps {
    display: flex;
    width: 820px;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.steps .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    color: #999;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    border-radius: 50%;
    background: #c8d1ec;
    border: 2px dashed #f9f6f6;
}

.steps .circle.active {
    border: solid #4070f4;
    color: #4070f4;
    background: var(--main-color);
}

.steps .progress-bar {
    position: absolute;
    height: 4px;
    width: 100%;
    background: #c8d1ec;
    z-index: -1;
}

.progress-bar .indicator {
    position: absolute;
    height: 4px;
    width: 100%;
    background: #4070f4;
}

.steps_text {
    display: flex;
    width: 1000px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 10px;
    margin-left: 65px;
}

.text_active {
    /* width: calc(25% - 20px); */
    width: 350px;
    /* 25% of the container width with some spacing */
    text-align: center;
    /* overflow: hidden;
    text-overflow: ellipsis; */
    /* margin: 10px; */
}

.bottom {
    width: 50%;
    align-items: center;
    /* margin-top: 10px; */
    margin-right: 100px;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-between;
}

.detail_left {
    width: 500px;
}

.detailReport {
    margin-left: 100px;
}

.detail_report {
    font-weight: 800;
    color: var(--black);
}

.reportBy,
.reportTo {
    font-weight: 600;
    color: var(--black);
}


.lineDetail_top {
    position: absolute;
    height: 1px;
    width: 20%;
    background: #999;
    margin-top: 20px;
    margin-left: 65px;
}

.lineDetail_side {
    align-items: center;
    position: absolute;
    height: 30%;
    width: 2px;
    background: #999;
    margin-top: 40px;
    /* margin-left: 10px; */
}

.detail_right .container {
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
    /* margin: 50px; */
}

.statuLabel, .detail_status {
    text-align: left;
    color: var(--blue);
    font-family: 'Poppins', sans-serif;   
}

.statusLabel {
    color: var(--black);
    font-weight: 600;
}

.emailUser, .emailGov{
    color: var(--blue);
}

.status {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.steps1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 20px; /* Adjust margin as needed */
}

.circle1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    color: #999;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    border-radius: 50%;
    background: #c8d1ec;
    border: 2px dashed #f9f6f6;
}

.circle1.active {
    border: solid #4070f4;
    color: #4070f4;
    background: var(--main-color);
}

.progress-bar1 {
    position: absolute;
    height: 100%;
    width: 4px;
    background: #c8d1ec;
    z-index: -1;
}

.progress-bar1 .indicator1 {
    position: absolute;
    height: 100%;
    width: 4px;
    background: #4070f4;
}

.statusLabel {
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
}

.detail_status {
    text-align: left;
    margin-bottom: 20px; /* Adjust margin as needed */
}

.step-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
