.dashboard {
  background-color: #0c2180;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding-top: 70px;
}

.dashboard .div {
  background-color: #0c2180;
  overflow-x: hidden;
  width: 1440px;
  height: 800px;
  position: relative;
}

.dashboard .button {
  position: flex;
  width: 611px;
  height: 55px;
  all: unset;
  box-sizing: border-box;
}

.dashboard .overlap-group {
  position: relative;
  width: 659px;
  height: 105px;
  /* top: -21px; */
  left: -21px;
  background-image: url(./icons/rectangle-10.svg);
  background-size: 100% 100%;
}

.dashboard .magnifier {
  top: 36px;
  left: 565px;
  position: absolute;
  width: 60px;
  height: 60px;
}

.dashboard .text-wrapper {
  position: absolute;
  width: 346px;
  height: 34px;
  top: 31px;
  left: 38px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #d9d9d980;
  font-size: 20px;
  letter-spacing: -1px;
  line-height: normal;
}

.dashboard .p {
  position: absolute;
  width: 623px;
  height: 93px;
  top: 300px;
  left: 145px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  text-align: justify;
  color: #eeeeee;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard .text-wrapper-2 {
  position: absolute;
  width: 698px;
  height: 232px;
  top: 80px;
  left: 146px;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #eeeeee;
  font-size: 80px;
  letter-spacing: 0;
  line-height: normal;
}

.dashboard .line {
  position: absolute;
  width: 5px;
  height: 210px;
  top: 130px;
  left: 93px;
}

.dashboard .gambar {
  position: absolute;
  width: 555px;
  height: 555px;
  top: 16px;
  left: 882px;
  background-image: url(./icons/globe.png);
  background-size: cover;
  background-position: 50% 50%;
}

.dashboard .screenshot {
  top: 38px;
  left: 183px;
  position: absolute;
  width: 75px;
  height: 70px;
  object-fit: cover;
}

.dashboard .img {
  top: 141px;
  left: 305px;
  position: absolute;
  width: 75px;
  height: 70px;
  object-fit: cover;
}

.dashboard .screenshot-2 {
  top: 299px;
  left: 146px;
  position: absolute;
  width: 75px;
  height: 70px;
  object-fit: cover;
}

.dashboard .overlap {
  position: flex;
  height: 106px;
  padding-top: 400px;
  padding-left: 130px;
}

.element-layar-pelaporan .div {
  overflow: hidden;
  width: 1400px;
  height: 800px;
  position: flex;
  margin-top: 25px;
  margin-left: 28%;
}

.element-layar-pelaporan .kotak {
  position: flex;
  width: 650px;
  height: 350px;
  background-color: #83869712;
  border: 1px dashed;
  border-color: #da1212;
}

.element-layar-pelaporan .group {
  position: relative;
  width: 526px;
  height: 135px;
  top: 85px;
  left: 56px;
}

.element-layar-pelaporan .text-wrapper {
  position: absolute;
  width: 524px;
  height: 74px;
  top: 10;
  left: 0;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #171e3f80;
  font-size: 22px;
  text-align: center;
  letter-spacing: 1.25px;
  line-height: normal;
}

.element-layar-pelaporan .plus {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 100px;
  left: 237px;
}

.element-layar-pelaporan .plus:hover, .element-layar-pelaporan .text-wrapper:hover {
  color: rgb(61, 81, 139);
  transition: 0.3s ease;
}

.element-layar-pelaporan .pelaporan {
  position: absolute;
  width: 910px;
  height: 141px;
  top: 159px;
  left: 88px;
}
